*{
    margin: 0;
    padding: 0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(images/background112.jpg);
    background-position: center;
}

.container{
    padding: 10px 10%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.benjamin{
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    color: #ff004f;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
  
}


.animated-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.animated-text span{
    position: relative;
}
.animated-text span::before{
    content: "Software Engineer!";
    color: #fff;
    animation: words 20s infinite;

}
.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    width: 0;
    height: 100%;
    background-color: #080808;
    border-left: 2.5px solid #fff;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
    to{
    border-left: 2px solid #ff7f5000;
    }
}
@keyframes words {
    0%,20%{
        content: "Software Engineering,";
    }
    0%,40%{
        content: "UI/UX Designer,";
    }
    0%,60%{
        content: "Technical writter,";
    }
    0%,80%{
        content: "I bring Ideas to web.";
    }

}
@keyframes typing{
    10%, 15%,30%,35%,50%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #ff004f;
}

/*----------------about--------------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}


/*----------------------------------services--------------------*/
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
background: #262626;
padding: 30px;
font-size: 16px;
font-weight: 200;
border-radius: 10px;
transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 60px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color:#61b752;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    font-style: italic;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/*---------------------portfolio-------------*/
#portfolio{
    padding: 50px 0;
    }
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    .work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    }
    .layer{
        width: 100%;
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.5), #ff004f);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        font-size: 14px;
        transition: height 0.5s;
    
    }
    .layer h3{
        font-weight: 500;
        margin-bottom: 20px;
    }
    .layer a{
        margin: 20px;
        color: #ff004f;
        text-decoration: none;
        font-size: 18px;
        line-height: 60px;
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
    }
    .work:hover img{
    transform: scale(1.1);
    }
    .work:hover .layer{
        height: 100%;
    }
    .btn{
        display: block;
        margin: 50px auto;
        width: fit-content;
        border: 1px solid #ff004f;
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
        color: #fff;
        transition: background 0.5s;
    }
    .btn:hover{
        background: #ff004f;
    
    }
    
    /*--------------------tools and skills--------------------*/
    
    #skills2 {
        margin-left: 10%;
        margin-right: 10%;
    }
    #skills2 div h3{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        text-align: center;
    }
    
    #skills2 div p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    }
    
    #skills2 div .tools{
        display: flex;
        overflow: scroll;
        justify-content: space-between;
        border-bottom:0.2px solid rgb( 250, 250, 250);
        border-top: none;
        height: 150px;
        align-items: center;
        margin: 0 15px;
        margin-right: 15px;
        margin-bottom: 70px;
       width: 100%;
    
    }
    
    #skills2 div .tools::-webkit-scrollbar{
        width: 0;
        right: none;
    }
    
    #skills2 div .tools img{
        padding: 5px;
        height: 100px;
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
        border: 0.3px solid lightgray;
        border-radius: 3px;
    }
       
    
/* -------------------------contact---------------------- */
.touch{
    font-size: 30px;
    font-weight: 500;
}
.paragraph1{
    border: 1px;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.contact{
display: flex;
}
.contact-left{

    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;  
}
.contact-left p{
    margin: 30px;
}
.contact-left p i{
  font-size: 25px; 
  color: #ff004f;
  margin-right: 15px;

}
.social-icons{
    margin: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
    margin-right: 10px;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
}
form.btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;

}
.copyright i{
    color: #ff004f;
    font-size: 18px;
}
/* ------------------------css for small screens------------- */
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/background2.jpg);
    }
    .header-text{
        margin-top: 100%;
        font-size: 30px;
    }

    .header-text p{
        font-size: 20px;
    }
    .animated-text span::after{
        display: none;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
        justify-content: center;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

        .animated-text {
            font-size: 24px;
            font-weight: 600;
            min-width: 280px;
          
        }

        .btn {
            display: block;
            margin: 50px auto;
            width: fit-content;
            border: 1px solid #ff004f;
            border-radius: 6px;
            padding: 14px;
            text-decoration: none;
            color: #fff;
            transition: background 0.5s;
        }

     /*-------------skills------------*/
     

     #skills2 div .tools {
        display: flex;
        overflow: auto;
    }

    #skills2 div .tools img {
        padding: 5px;
        height: 70px;
        display: flex;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 0.3px solid lightgray;
        border-radius: 4px;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
   
        
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
    #msg{
        color: #61b752;
        margin-top: -40px;
        display: block;
    }

